<<<<<<< HEAD
.video-detail{
=======
/* .video-detail{
>>>>>>> 56418bc0f612d2a742b05a8cbc9906240ff5ae15
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 30.25%;
}

.react-player{
    position: relative;
    top: 0;
    left: 0;
<<<<<<< HEAD
}
=======
} */
>>>>>>> 56418bc0f612d2a742b05a8cbc9906240ff5ae15
